
body {
    background: linear-gradient(to bottom, #1a237e, #4527a0);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(to bottom, #283593, #3949ab);
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
}

header {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 2.5em; 
    color: #fff;
}

p {
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.start-button,
.return-back-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right, #0000cd, #437c17);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

.start-button:hover,
.return-back-button:hover {
    background: linear-gradient(to right, #3cb371, #eb5406);
}

.return-back-button::after {
    content: '\00ab\00ab'; 
    margin-right: 8px; 
}
